#custom-filter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: "center";
    align-items: "center";
    gap: 10px;
    position: relative;
}

#custom-filter-form > * {
    width: 25%;
    height: 28px;
    cursor: pointer;
}

#wvpfpff-spinner {
    display: none;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid black;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.wvpfpff-disabled {
    pointer-events: none;
}
.wvpfpff-unclickable {
    pointer-events: none;
    cursor: default;
}

.wvpfpff-clickable {
    pointer-events: all;
    cursor: pointer;
}

#custom-filter-form > input, #custom-filter-form > button {
    padding: 0;
}



@media only screen and (max-width: 768px) {
    #custom-filter-form {
        flex-direction: column;
    }

    #custom-filter-form > * {
        width: 100%;
    }

    #wvpfpff-spinner {
        width: 24px;
        height: 24px;
    }
}